.product-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-list article {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: all .2s;
}

.product-list article p {
    font-size: 16px;
    color: rgb(128, 126, 126);
    margin-top: 5px;
    line-height: 24px;
}

.product-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0, 0.8);
    background: none;
    margin-top: 10px;
    color: rgb(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: all .3s;
}

.product-list article:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.product-list article a:hover {
    background-color: rgb(0, 0, 0, 0.8);
    color: #29D29C;
}

.product-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list .actions button {
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: #29D29C;
    color: rgb(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s;
}

.product-list .actions button:hover {
    color: #fff;
}

.product-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.product-list .actions button[disabled]:hover {
    opacity: 0.5;
    cursor: default;
}