.geral {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-info {
    margin:  20px auto 0;
    padding:  20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .2s;
}

.product-info:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.product-info p {
    font-size: 16px;
    color: rgb(128, 126, 126);
    margin-top: 5px;
    line-height: 24px;
}

.product-info a {
    color: #2A428B;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.action a {
    text-align: center;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    background-color: #29D29C;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s;
}

.action a:hover {
    color: #fff;
}